.text {
    flex: 2;
    text-align: center;
    border: 2px solid green;
    padding: 20px;
}

.verse {
    padding: 30px;
    border: 2px solid orange;    
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    padding: 10px;
    .header {
        flex: 100%;
        text-align: center;
        border: 1px solid red;
    }
    .english {
        @extend .text;
        .first-verse {
            @extend .verse;
            font-style: italic;
        } 
        .second-verse {
            @extend .verse;
        }   
    }
    .polish {
        @extend .text;
        .first-verse {
            @extend .verse;
            font-style: italic;
        }
        .second-verse {
            @extend .verse;
        }
    }
}