.text {
    flex: 2;
    text-align: center;
    padding: 5px;
    font-family: 'Baloo Bhai', cursive;
}

.verse {
    padding: 30px;
    border: 2px solid orange;   
    height: 200px; 
}

.container {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    .header {
        flex: 100%;
        text-align: center;
    }
    .english {
        @extend .text;
        .first-verse {
            @extend .verse;
            font-style: italic;
        } 
        .second-verse {
            @extend .verse;
        }
        .third-verse {
            @extend .verse;
            font-style: italic;
        }   
    }
    .polish {
        @extend .text;
        .first-verse {
            @extend .verse;
            font-style: italic;
        }
        .second-verse {
            @extend .verse;
        }
        .third-verse {
            @extend .verse;
            font-style: italic;
        }
    }
    .film {
        flex: 100%;
        text-align: center;
    }
    .footer {
        flex: 100%;
        text-align: center;
    }
}