.container {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    padding: 10px;
}

.container .header {
    flex: 100%;
    text-align: center;
    border: 1px solid red;
}

.container .english,
.container .polish {
    flex: 2;
    text-align: center;
    border: 2px solid green;
    padding: 20px;
}

.container .first-verse {
    padding: 30px;
    border: 2px solid orange;
}